{% extends 'species/base.html' %}

{% block header %}
	<h1>{% block title %}View{% endblock %}</h1>
{% endblock %}

{% block content %}
	<table>
		{% for species in species %}
		<tr>
			<td>{{ species.name }}</td>
			<td>
				<a class="button" href="{{ url_for('species.add', id=species.id) }}">Edit</a>
				<a class="button" href="{{ url_for('species.delete', id=species.id) }}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('species.add') }}">New Species</a>
{% endblock %}
