<!doctype html>
<html>
	<head>
		<title>Klima</title>
		<link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
	</head>
	<body>
		<nav>
			{% block nav %}
				<ul>
					<li>
						<a href="{{ url_for('home.index') }}">Home</a>
					</li>
					<li>
						<a href="{{ url_for('home.go') }}">Go!</a>
					</li>
					{% if kl_current_user() %}
						<li>
							<a href="{{ url_for('home.logout') }}">Logout</a>
						</li>
					{% endif %}
					{% block nav_content %}
					{% endblock %}
					<img class="logo" src="/static/images/logo.png" alt="Klima logo">
				</ul>
			{% endblock %}
		</nav>
		<main class="content">
			<div class="nav-border">
			</div>
			{% for message in get_flashed_messages() %}
				<div class="alert" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			<div class="content">
				{% set user = kl_current_user() %}
				{% if user %}
					<h1>Welcome to Klima, {{ user.name|trim }}!</h1>
					<p>How about you <a href="{{ url_for('home.go') }}">check up</a> on your Klimamon?</p>
				{% else %}
					<h1>Welcome to Klima!</h1>
					<p>In the world of Klima, you have a familiar, or Klimamon, that hops around a magical world of weather.</p>
					<p>Interested? <a href="{{ url_for('home.register') }}">Register</a> or <a href="{{ url_for('home.login') }}">login</a> now!
				{% endif %}
			</div>
		</main>
</html>
